<html lang="en">

<head>
<title></title>
<script type='text/javascript' src='jokr/libs/jquery.min.js'></script>
<script type='text/javascript' src='jokr/jokr.io.js'></script>
</head>

<body data-spy="scroll" data-offset="0" data-target="#theMenu">


</body>

<script>
	var jokr = new Jokr().play('bootstrap');

	var user_form = new MinimalOnePage('body').create({
		title: 'JOKR.IO',	
	});
</script>

</html>